@include b(main) {
  @include flex_container;
  padding: 100px 10px;
  text-align: center;

  @include e(name) {
    @include rem(font-size, 4rem);
    font-weight: bold;
    color: #212121;
  }
}

@include breakpoint(768px) {
  @include b(main) {
    padding: 50px 10px;

    @include e(name) {
      @include rem(font-size, 2rem);
    }
  }
}
